{% include 'charity/partials/header' %}
<body class="bodyinner">
{% include 'charity/partials/profile-modals' %}
{% include 'artist/partials/nav' %}
{% include 'artist/partials/cart' %}
<div class="container">
<div class="row ff">
{% include 'charity/partials/left-block' %}
<div class="col-md-6">
    <div class="wall">
        <div class="itemWall">
            {% if songs | length == 0 %}
                <div class="wall-notice">
                    This user did not upload any songs. <br />
                    <span class="muted">Follow this artist profile for updates on their songs.</span>
                </div>

            {% endif %}
            {% for song in songs %}
                <div class="itemmain">
                    <div class="itemart pull-left">
                        {% if song.art is not empty %}
                            <img src="art/{{ song.id }}" alt=""/>
                        {% else %}
                            <img src="profile/picture/{{ song.author.picture }}/large" alt="" style="width:120px; height:120px;"/>
                        {% endif %}
                    </div>
                    <div class="itemcontent pull-left">
                        <div class="itemname">
                            <a href="track/{{ song.id }}">{{ song.title }}</a>
                        </div>
                        <div class="player-container">
                            <div class="player">
                                <div class="player-btn play pull-left" data-id="{{ song.id }}" data-picture="{% if song.art is not empty %}art/{{ song.id }}{% else %}profile/picture/{{ song.author.picture }}/large{% endif %}" data-title="{{ song.title }}">
                                    <span class="glyphicon glyphicon-play"></span>
                                </div>
                                <div class="song-progress pull-left" id="song-box-{{ song.id }}">

                                    <img src="thumbnail/{{ song.id }}" alt=""/>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>

                        <div class="mediainfo">
                            {% set like_found = 0 %}
                            {% for l in song.likes %}
                                {% if l.user == user.id %}
                                    {% set like_found = 1 %}
                                {% endif %}
                            {% endfor %}
                            <span class="mediaelem firstelem"><span class="glyphicon glyphicon-calendar"></span> {{ song.created_at }} </span>
                            <span class="mediaelem"><a href="#" class="{% if user %}like{% else %} sign-in {% endif %}" data-song="{{ song.id }}"><span class="glyphicon {% if like_found %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}"></span></a> <span class="like-wrapper">{{ song.likes | length }}</span></span>

                            <span class="mediaelem"><span class="glyphicon glyphicon-volume-up"></span> <span id="song-hits-{{ song.id }}">{{ song.hits }}</span></span>
                            <span class="mediaelem"><span class="glyphicon glyphicon-comment"></span> <a href="track/{{ song.id }}#comments">{{ song.comments | length }}</a></span>
                            {% if user.type == 'customer' %}<span class="mediaelem"><span class="glyphicon glyphicon-shopping-cart"></span> <a class="buy" href="buy/{{ song.id }}" data-id="{{ song.id }}">Buy</a></span>{% endif %}
                        </div>
                        <div class="mediainfo">
                                        <span class="mediaelem social-share" >Share:
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  song.id , song.title).facebook }}"><i class="fa fa-facebook"></i></a></span>
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  song.id , song.title).gplus }}"><i class="fa fa-google-plus"></i></a></span>
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  song.id , song.title).twitter }}"> <i class="fa fa-twitter"></i></a></span>
                                        </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if songs.getLastPage > 1 %}
            <div id="scroll-block">
                <button role="button" class="scroll-next btn btn-blue" style="width:100%; font-weight: normal" href="#">Load More</button>
            </div>
        {% endif %}
    </div>
</div>
{% include 'charity/partials/right-block' %}
</div>
    <div class="fixed-player">
        <div class="fixed-player-container">
            <div class="art player-art pull-left">
            </div>
            <div class="bar pull-left">
                <div class="btn-prev ctrl-btn">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </div>
                <div class="btn-start ctrl-btn">
                    <span id="btn_play" class="glyphicon glyphicon-play"></span>
                </div>

                <div class="btn-next ctrl-btn">
                    <span class="glyphicon glyphicon-forward"></span>
                </div>
                <div class="song-description pull-left text-center">
                    <span id="current_title">
                    </span>
                </div>
                <div class="volume-controls">
                    <div class="volume ctrl-btn pull-right">
                        <span class="glyphicon glyphicon-volume-up"></span>
                    </div>
                    <div class="slider-container">
                        <div class="slider">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="assets/javascripts/bootstrap.js"></script>
<script src="assets/javascripts/backstretch.min.js"></script>
<script src='/assets/javascripts/jcanvas.min.js'></script>
<script src='/assets/javascripts/bootstrap-slider.js'></script>
<script src="assets/javascripts/soundmanager2-nodebug-jsmin.js"></script>
<script src="assets/javascripts/cart.js"></script>
<script src="//cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js" type="text/javascript"></script>
<script src="assets/javascripts/dropzone.js"></script>
<script src="/assets/javascripts/profile.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    {% if song.getLastPage %}
    total_pages =  {{ songs.getLastPage }};
    {% endif %}
    $(document).ready(function () {

        soundManager.setup({
            url: 'assets/swf/'
        });
    });
</script>
</body>
</html>