<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if profile.artist_name is empty %}user{{ profile.profile_url }}'s{% else %}{{ profile.artist_name }}'s {% endif %} profile on Music Equity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ base_url }}">
    <link rel="stylesheet" href="assets/stylesheets/styles-inner.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <meta property="og:site_name" content="Music Equity">
    <meta property="og:title" content="{{ profile.artist_name }}">
    <meta property="og:url" content="{{ base_url }}artist/{{ profile.profile_url }}">
    <meta property="og:description" content="{{ profile.bio }}">
    <meta property="og:image" content="{{ base_url }}/profile/picture/{{ profile.picture }}/large">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <!- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67536514-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
{% include 'artist/partials/profile-modals' %}
{% include 'artist/partials/cart' %}
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 logo-container">
                    <a href="/"><img class="img-responsive" src="assets/images/logo-small.png" alt="Music Equity"/></a>
                </div>
                <div class="col-md-5 col-sm-5 col-lg-5">
                    <div class="search-input">
                        <form action="search">
                        <input name="q" type="text" placeholder="Search track / artist / album"/>
                        <button role="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 menu-container">
                    {% include 'artist/partials/nav' %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<div class="container main-inner">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 user-menu-container section">
            {% include 'artist/partials/left-block' %}
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 section">
            <div class="wall">
                {% if wall | length == 0 %}
                    <div class="wall-notice">
                        This user did not upload any songs. <br />
                        <span class="muted">Follow this artist profile for updates on their songs.</span>
                    </div>
                {% endif %}
                {% for w in wall %}
                    {% if w.duration | length > 0 %}
                        <div class="item">
                        <div class="art">
                            {% if w.art is not empty %}
                                <img src="art/{{ w.id }}" class="img-responsive"/>
                            {% else %}
                                <img src="profile/picture/{{ w.author.picture }}/large" class="img-responsive" style="width:120px; height:120px;"/>
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="title">
                                <a href="track/{{ w.id }}">{{ w.title }}</a>  {% if w.author.id == user.id %}<a href="track/edit/{{ w.id }}"><span class="glyphicon glyphicon-pencil small"></span></a>{% endif %}
                            </div>

                            <div class="mediainfo">
                                {% set like_found = 0 %}
                                {% for l in w.likes %}
                                    {% if l.user == user.id %}
                                        {% set like_found = 1 %}
                                    {% endif %}
                                {% endfor %}
                                <span class="mediaelem firstelem"><span class="glyphicon glyphicon-calendar"></span> {{ w.date_human }} </span>
                                <span class="mediaelem"><a href="#" class="{% if user %}like{% else %} sign-in {% endif %}" data-song={{ w.id }}"><span class="glyphicon {% if like_found %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}"></span></a> <span class="like-wrapper">{{ w.likes | length }}</span></span>

                                <span class="mediaelem"><span class="glyphicon glyphicon-volume-up"></span> <span id="hits-{{ w.id }}">{{ w.hits }}</span></span>
                                <span class="mediaelem"><span class="glyphicon glyphicon-comment"></span> <a href="track/{{ w.id }}#comments">{{ w.comments | length }}</a></span>
                                {% if w.author.id == user.id %}
                                    <span class="mediaelem"><span class="glyphicon glyphicon-remove"></span> <a data-toggle="modal" data-target="#confirm-delete" class="track-delete"  href="#" data-href="track/delete/{{ w.id }}">Delete</a></span>
                                {% endif %}
                                {% if user.type == 'customer' or user.type is not defined %}<span class="mediaelem"><span class="glyphicon glyphicon-shopping-cart"></span> <a class="buy" href="buy/{{ w.id }}" data-id="{{ w.id }}">Buy (${{ w.price | number_format(2) }})</a></span>{% endif %}
                            </div>


                            <div class="player">
                                <div class="player-btn play pull-left" data-id="{{ w.id }}" data-picture="art/{{ w.id }}" data-title="{{ w.title }}">
                                    <span class="glyphicon glyphicon-play"></span>
                                </div>
                                <div class="song-progress pull-left" id="song-box-{{ w.id }}">
                                    <img src="/thumbnail/{{ w.id }}" class="img-responsive" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="mediainfo">
                                        <span class="mediaelem social-share" >Share:
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  w.id , w.title).facebook }}"><i class="fa fa-facebook"></i></a></span>
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  w.id , w.title).gplus }}"><i class="fa fa-google-plus"></i></a></span>
                                            <span><a class="social-link" href="{{ Share.load(base_url ~ 'track/' ~  w.id , w.title).twitter }}"> <i class="fa fa-twitter"></i></a></span>
                                        </span>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% else %}

                        {% for song in w.songs %}
                            <div class="item bundle-item bundle-{{ w.id }}" {% if loop.index > 1 %} style="display:none"{% endif %} id="bundle-{{ loop.index }}">
                                <div class="art">
                                    <img src="profile/picture/{{ song.item.author.picture }}/large" class="bundle img-responsive"/>
                                </div>
                                <div class="content">
                                    <div class="title">
                                        <a href="track/{{ song.item.id }}">{{ w.name }} - {{ song.item.title }}</a>
                                    </div>
                                    <div class="mediainfo">
                                        <span class="mediaelem firstelem"><span class="glyphicon glyphicon-calendar"></span> {{ w.date_human }} </span>
                                        {% if w.artist == user.id %}
                                            <span class="mediaelem"><span class="glyphicon glyphicon-remove"></span> <a data-toggle="modal" data-target="#confirm-delete" class="track-delete"  href="#" data-href="/delete/album/{{ w.id }}">Delete</a></span>
                                        {% endif %}
                                        {% if user.type == 'customer' or user.type is not defined %}<span class="mediaelem"><span class="glyphicon glyphicon-shopping-cart"></span> <a class="buy-bundle" href="buy/bundle/{{ w.id }}" data-id="{{ w.id }}">Buy (${{ w.price | number_format(2) }})</a></span>{% endif %}
                                    </div>
                                    <div class="player-container">
                                        <div class="player">
                                            <div class="player-btn play pull-left" data-id="{{ song.item.id }}" data-picture="{% if song.item.art is not empty %}art/{{ song.item.id }}{% else %}profile/picture/{{ song.item.author.picture }}/large{% endif %}" data-title="{{ song.item.title }}">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </div>
                                            <div class="song-progress pull-left" id="song-box-{{ song.item.id }}">

                                                <img src="thumbnail/{{ song.item.id }}" class="img-responsive"/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="playlist">
                            {% for pl in w.songs %}
                                <div class="play-item" data-bundle-target="bundle-{{ loop.index }}" data-bundle="bundle-{{ w.id }}">
                                    {% if pl.item.art | length > 0 %}
                                        <img src="art/{{ pl.item.id }}"/>
                                    {% else %}
                                        <img src="profile/picture/{{ pl.item.author.picture }}/large"/>
                                    {% endif %}
                                    <span class="mediaelem" style="padding:0px !important;">{{ pl.item.author.artist_name }} - </span>{{ pl.item.title }}
                                    <span class="mediaelem pull-right"><span class="glyphicon glyphicon-volume-up"></span> <span id="hits-{{ pl.item.id }}">{{ pl.item.hits }}</span></span>
                                </div>
                            {% endfor %}
                        </div>



                    {% endif %}
                {% endfor %}
                {% if wall.getLastPage > 1 %}
                    <div id="scroll-block">
                        <button role="button" class="scroll-next btn btn-blue" style="width:100%; font-weight: normal" href="#">Load More</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 section">
            {% include 'artist/partials/right-block' %}
        </div>
    </div>
</div>

{% include 'partials/footer' %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="assets/javascripts/bootstrap.js"></script>
<script src="assets/javascripts/backstretch.min.js"></script>
<script src="assets/javascripts/profile.js"></script>

<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="assets/javascripts/bootstrap-select.min.js"></script>
<script src='/assets/javascripts/jcanvas.min.js'></script>
<script src='/assets/javascripts/bootstrap-slider.js'></script>
<script src="assets/javascripts/soundmanager2.js"></script>
<script src="assets/javascripts/cart.js"></script>
<script src="//cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js" type="text/javascript"></script>
<script src="assets/javascripts/dropzone.js"></script>
<script src="/assets/javascripts/jquery.maskMoney.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<script>
    {% if song.getLastPage %}
    total_pages =  {{ songs.getLastPage }};
    {% endif %}
    {% if notifications | length > 0 %}
    {% for n in notifiactions %}
    toastr.warning('{{ n.text }}');
    {% endfor %}
    {% endif %}
    $(document).ready(function () {

        soundManager.setup({
            url: 'assets/swf/'
        });
    });
</script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
</body>
</html>
