<p><a href="{{ base_url }}artist/{{ target.profile_url }}">{{ target.name }}</a> just got reported. <br /></p>
<p><strong>Reason:</strong> {{ report.reason }}</p>
<p>
    <strong>Explanation:</strong>
    {{ report.explanation }}
</p>