<div class="user-menu">
    <div class="image-container">
        <div class="profile-picture">
            <a href="{{ profile.type }}/{{ profile.profile_url }}">
                <img src="/profile/picture/{{ profile.picture }}/large" class="img-responsive">
            </a>
        </div>
    </div>
</div>

<div class="block">
    <h3><a href="{{ profile.type }}/{{ profile.profile_url }}">{% if profile.charity.name is empty %}user{{ profile.profile_url }}{% else %}{{ profile.charity.name }} {% endif %}</a></h3>
    <span class="glyphicon glyphicon-map-marker"></span>
    {% if profile.city is empty and profile.country is empty %}
        No address available
    {% else %}
        {% if profile.city is empty %}
            {{ profile.country }}
        {% else %}
            {{ profile.city }}, {{ profile.country }}
        {% endif %}
    {% endif %}
</div>
<div class="block stats">
    <div class="stat-elem"> Donated: $ {{ profile.charity.donated | number_format(2) }}</div>
    <div class="stat-elem">Goal: $ {{ profile.charity.goal | number_format(0) }}</div>
</div>
<div class="block">
    {% if profile.charity.description is empty %}
        Description is not available
    {% else %}
        <div class="bio-collapse">
            {% if profile.charity.description | length > 180 %}
                <div class="less-text">
                    {{ profile.charity.description | raw | slice(0,180) }}
                    <p style="text-align: right"><a href="#" id="more-do">More...</a></p>
                </div>
                <div class="more-text" style="display: none;">
                    {{ profile.charity.description | raw  }}
                    <p style="text-align: right"><a href="#" id="less-do">Less...</a></p>
                </div>
            {% else %}
                <div class="more">
                    {{ profile.charity.description | raw  }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<div class="links">
    {% if user.id == profile.id %}
        <button class="btn btn-purple" id="faq-btn" style="width:100% !important"><span class="glyphicon glyphicon-question-sign"></span> FAQ</button>
        <a href="/charity/settings/"><button class="btn  btn-blue" style="width:100% !important"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</button></a>
        <button class="btn btn-purple" style="width:100% !important" id="approval-btn" type="button">Waiting for approval ({{ approval|length }})</button>
    {% endif %}
</div>
<div class="socialblock">
    <ul class="sociallinks">
        {% for w in profile.weblinks %}
            <li>
                {% if w.title matches '/facebook.com/' %}
                    <img src="assets/images/fbicon.png" alt=""/><a href="{{ w.url }}">Facebook</a>
                {% elseif w.title matches '/twitter.com/' %}
                    <img src="assets/images/twticon.png" alt=""/><a href="{{ w.url }}">Twitter</a>
                {% else %}
                    <img src="assets/images/globe.png" alt=""/><a href="{{ w.url }}">{{ w.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <img src="assets/images/report.png" alt=""/><a href="#" id="report-btn">Report</a>
        </li>
    </ul>


</div>
